/* Inicio.css */
.BienvenidoInicio {
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .ImagenInicio {
    height: 60vh; /* Establecemos la altura de la imagen al 60% del viewport height */
    background-image: url('../images/Espe-inicio.jpg');
    background-size: cover;
    background-position: center;
    position: relative; /* Agregamos esta propiedad para poder usar z-index */
    z-index: 1; /* Definimos un z-index mayor que 0 para que la imagen esté por debajo del rectángulo */
  }
  
  .white-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative;
  }
  
  h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #235a28;
    color: white;
    cursor: pointer;
    margin: 10px;
  }

  .login-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 3;
  }
  
  .documents {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .documents p {
    margin: 5px;
  }
  
  .down-arrow {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: 20px; /* Modificamos el valor del margen para separar la flecha del botón */
    border-top: solid 5px;
    border-right: solid 5px;
    cursor: pointer;
    color: #235a28;
    position: absolute;
    bottom: 0px;
    transform: rotate(135deg);
  }
  
  .container-documents {
    position: absolute;
    bottom: 20px; /* Ajustamos la distancia del botón desde la parte inferior */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .documents-button {
    font-size: 16px;
    border: none;
    background-color: #ffffff;
    color: #235a28;
    cursor: pointer;
    margin: 10px;
    padding: 5px 50px; /* Añadimos padding para aumentar el tamaño del botón */
  }

  .LogoEspe {
    position: absolute;
    top: 55%; /* Centramos verticalmente */
    left: 50%; /* Centramos horizontalmente */
    width: 60%; /* Ancho del rectángulo */
    height: 30%; /* Altura del rectángulo */
    background-color: rgba(255, 255, 255, 0.729); /* Color gris con opacidad del 50% */
    transform: translate(-50%, -50%); /* Centramos el rectángulo */
     z-index: 2; /* Lo enviamos detrás de los otros elementos */
    background-image: url('../images/LogoEspe.png');
    background-size: contain; /* Cambiamos a "contain" para que la imagen se ajuste dentro del rectángulo */
    background-repeat: no-repeat; /* Evitamos que la imagen se repita */
    background-position: center;
  }

  .text-container {
    position: absolute;
    top: 80%; /* Ajusta la posición vertical del texto */
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; /* Centra el texto horizontalmente */
    z-index: 3; /* Asegura que esté por encima del rectángulo gris y el botón */
  }

  .text-container h1 {
    font-size: 40px;
    color: #235a28;
    margin: 0;
    padding: 5px;
  }