/* Inicio.css */
.BienvenidoInicio {
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .ImagenInicio {
    height: 60vh; 
    background-image: url('../images/Espe-inicio.jpg');
    background-size: cover;
    background-position: center;
    position: relative; 
    z-index: 1; 
  }
  
  .white-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative;
  }
  
  h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #235a28;
    color: white;
    cursor: pointer;
    margin: 10px;
  }

  .login-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 3;
  }
  
  .documents {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .documents p {
    margin: 5px;
  }
  
  .down-arrow {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: 20px; 
    border-top: solid 5px;
    border-right: solid 5px;
    cursor: pointer;
    color: #235a28;
    position: absolute;
    bottom: 0px;
    transform: rotate(135deg);
  }
  
  .container-documents {
    position: absolute;
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .documents-button {
    font-size: 16px;
    border: none;
    background-color: #ffffff;
    color: #235a28;
    cursor: pointer;
    margin: 10px;
    padding: 5px 50px; 
  }

  .LogoEspe {
    position: absolute;
    background-size: cover;
    top: 55%;
    left: 50%; 
    width: 60%; 
    height: 30%;
    background-color: rgba(255, 255, 255, 0.729);
    transform: translate(-50%, -50%);
    background-image: url('../images/LogoEspe.png');
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: center;
    z-index: 2;
  }

  .text-container {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 3;
  }

  .text-container h1 {
    font-size: 40px;
    color: #235a28;
    margin: 0;
    padding: 5px;
  }

  /*CSS Modal*/
  .modal-content {
  max-width: 400px; 
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.modal-image {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
  margin-bottom: 10px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.modal-form label {
  display: block;
  margin-bottom: 10px;
}

.modal-form input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.modal-buttons-container {
  display: flex;
  justify-content: center;
}


.modal-buttons-container button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.modal-login-button {
  background-color: #007bff;
  color: #fff;
}

.modal-register-button {
  background-color: #28a745;
  color: #fff;
}